<% include global/header.ejs %>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a class="" href="/recipes/beef">Beef</a>
        <a class="" href="/recipes/chicken">Chicken</a>
        <a class="" href="/recipes/lamb">Lamb</a>
        <a class="" href="/recipes/pork">Pork</a>
        <a class="" href="/recipes/seafood">Seafood</a>
        <a class="" href="/recipes/dessert">Dessert</a>
        <a class="" href="/addItem">Uplaod</a>
    </div>
    <div class="main">
        <h1>
            <%= message %>
        </h1>
        <h4 id="date"></h4>

        <div class="row">
        <% if (recipes.length > 0) {%>
			<div class="column">
				<% recipes.forEach((recipe, index) => { %>
					<a href="/recipes/<%= recipe.animal %>/<%= recipe.id %>">
					<img src="/images/<%= recipe.id %>_400x300.jpg" style="width:100%"></a>
			    <% }) %>
			</div>
			<div class="column">
		        <% recipes.forEach((recipe, index) => { %>
			        <img src="/images/<%= recipe.id %>_recipe.jpg" style="width:100%">
		        <% }) %>
            </div>
		<% } else { %>
			<div class="row">
				<p>No recipes found. Go <a href="/addItem" >here</a> to add recipe.</p>
			</div>
		<% } %>

        </div>
    </div>
</body>
</html>

<% include global/footer.ejs %>